numpy
astropy
django
psycopg2
gunicorn
whitenoise
requests
django-cors-headers
# sqlparse==0.3.1
# git+https://github.com/ivan-katkov/django-custom-query.git#egg=django-custom-query
djangoql
git+https://github.com/instruct-br/graphene-django-pagination.git
git+https://github.com/jazzband/django-silk.git
django-filter
djangorestframework
django-debug-toolbar
serpy
drf_ujson2
django-rest-marshmallow
drf-flex-fields
graphene-django
graphene-django-optimizer
django-graphiql-debug-toolbar